---
import Layout from "../layouts/Layout.astro";
import InstagramFeed from "../components/InstagramFeed.astro";
import ServicesList from "../components/ServicesList.astro";
import Hero from "../components/Hero.astro";
import PartnersList from "../components/PartnersList.astro";
import About from "../components/About.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <ServicesList />
    <InstagramFeed />
    <PartnersList />
  </main>
</Layout>
