---
import Section from "./Section.astro"
import Data from "../data/coeurMetier.json";
const coeurMetier = Data;
---

{coeurMetier && (
  <section class="bg-background pb-15 pt-10 max-w-7xl mx-auto justify-items-center">
        <h2 class="uppercase font-extrabold font-heading text-foreground text-2xl py-8">Notre coeur de métier</h2>
        <span class="w-10 block h-1 bg-foreground mb-8"></span>
        <div class="flex flex-wrap gap-4 justify-center items-center ">
            {coeurMetier.map((item) => (
                <div class="flex flex-col gap-4 items-center">
                    <img class="h-56 w-auto object-contain" src={item.path} alt={item.alt} />
                    <p class="uppercase font-heading text-foreground font-bold text-base">{item.title}</p>
                </div>
            ))}
        </div>
  </section>
)}

