---
import SocialNetworks from "./SocialNetworks.astro";
import data from "../data/infoGeneral.json";

const { address, mail, phone } = data.contact;
---

<footer class="bg-primary text-foreground-accent">
  <div class="mx-auto flex max-w-7xl flex-col gap-12 pb-4 pt-16">
    <h2 class="text-center text-3xl font-bold uppercase">Contactez-nous</h2>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-10">
        <img
          src="/src/assets/images/jaguar.png"
          alt="illustration-jaguar"
          class="h-32 w-auto"
        />
        <div class="flex flex-col">
          <h3 class="mb-4 text-xl font-bold uppercase">Lunedit</h3>
          <p>{address}</p>
          <p>{mail}</p>
          <p>{phone}</p>
        </div>
      </div>

      <div class="flex flex-col items-center gap-4">
        <h2 class="font-bold uppercase">Retrouvez-nous sur</h2>
        <SocialNetworks items={data.social} />
      </div>
    </div>
    <div class="flex items-center justify-center">
      <p>&copy; Lunedit 2025 -</p>
      <a href="/mentions-legales">Mentions légales</a>
    </div>
  </div>
</footer>
