---
import Anchor from "./Anchor.astro";
---

<header class="flex items-center justify-between p-4">
  <nav class="flex gap-6">
    <Anchor label="Lunedit" href="#" />
    <Anchor label="About" href="#" />
    <Anchor label="Recent Projects" href="#" />
    <Anchor label="Contact" href="#" />
  </nav>
</header>
