---
import NavLinks from "./NavLinks.astro";
import SocialNetworks from "./SocialNetworks.astro";
import Burger from "./ui/Burger.astro";
import logoImage from "../assets/images/logo-lunedit.png";

import { navigation } from "../data/navigation.json";
import { social } from "../data/infoGeneral.json";

import { Image, Picture } from "astro:assets";

const isHome = Astro.url.pathname === "/";
---

<header
  class="bg-secondary z-50 w-full px-4 py-2 max-lg:relative lg:sticky lg:top-0 lg:py-4"
>
  <div class="mx-auto flex w-full max-w-7xl items-center justify-between">
    <a
      href={isHome ? "#hero" : "/"}
      class="rounded focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
      aria-label="Accéder à la page d'accueil"
    >
      <Picture
        src={logoImage}
        width={150}
        height={53}
        alt="Logo de Lunedit"
        formats={["avif", "webp", "jpeg"]}
        width={150}
        height={53}
        sizes="(max-width: 720px) 150px, 150px"
        decoding="async"
        quality={80}
      />
    </a>

    <Burger id="menu-burger" />
    <div
      id="menu-container"
      class="max-lg:bg-secondary hidden flex-1 items-center gap-16 max-lg:absolute max-lg:left-0 max-lg:top-full max-lg:z-50 max-lg:h-auto max-lg:w-full max-lg:flex-col max-lg:justify-center max-lg:gap-10 max-lg:p-8 max-lg:text-center max-lg:shadow-lg lg:flex"
      aria-label="Menu principal"
    >
      <NavLinks items={navigation} />
      <SocialNetworks items={social} />
    </div>
  </div>
</header>

<script>
  const burgerMenu = document.querySelector("#menu-burger");
  const menuContainer = document.querySelector("#menu-container");
  const links = document.querySelectorAll("#menu-container a");

  function openMenu() {
    menuContainer.classList.remove("hidden");
    burgerMenu.setAttribute("aria-expanded", "true");
  }

  function closeMenu() {
    menuContainer.classList.add("hidden");
    burgerMenu.setAttribute("aria-expanded", "false");
  }

  function toggleMenu() {
    const isExpanded = burgerMenu.getAttribute("aria-expanded") === "true";
    if (isExpanded) {
      closeMenu();
    } else {
      openMenu();
    }
  }

  if (burgerMenu && menuContainer) {
    burgerMenu.addEventListener("click", toggleMenu);

    // Fermer le menu quand on clique sur un lien
    links.forEach((link) => {
      link.addEventListener("click", closeMenu);
    });
  }
</script>
