---
---
<div class="relative">
    <img src="/src/assets/images/banner.png" alt="hero-banner" class=" w-full h-auto z-1 object-cover" />
    <div class="absolute top-1/2 z-2 left-1/5 -translate-x-1/5 text-neutral-950 max-w-80 mb-7">
        <img src="/src/assets/images/logo-lunedit.png" alt="logo-lunedit" class="h-16 w-auto mb-7">
        <p class="text-base font-medium font-base">Lunedit vous accompagne dans vos projets de livres illustrés, de la conception à l’impression.</p>
        <p class="text-base font-medium font-base">Forts de 20 ans d’experience, nous prenons en charge la conception, la coordination éditoriale ou la traduction de vos projets.</p>
    </div>
<!-- ajout du composant ui button -->
</div>