---
import Button from "../components/ui/Button.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const instagramFeeds = await getCollection("instagramFeeds");
---

<section id="dernierement" class="bg-secondary px-4 py-12">
  <h2
    class="text-primary font-heading py-8 text-center text-2xl font-extrabold uppercase"
  >
    Dernières réalisations
  </h2>

  <div class="mx-auto max-w-7xl">
    <div class="rounded-lg p-4">
      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
        {
          instagramFeeds.map((feed) => (
            <div class="aspect-[1/1] w-full overflow-hidden rounded-md shadow-sm">
              <Image
                src={feed.data.image as ImageMetadata}
                alt={`Publication Instagram - ${feed.data.alt}`}
                class="h-full w-full object-cover"
                loading="lazy"
                format="webp"
                quality={80}
                widths={[300, 600]}
                sizes="(max-width: 640px) 50vw, (max-width: 768px) 33vw, 25vw"
              />
            </div>
          ))
        }
      </div>

      <div class="mt-8 text-center">
        <Button
          href="https://www.instagram.com/lunedit_packaging/"
          variant="primary"
          size="large"
          aria-label="Voir plus de réalisations sur Instagram"
        >
          Plus de réalisations
        </Button>
      </div>
    </div>
  </div>
</section>
