---
import Button from "../components/ui/Button.astro";

const images = [
  "src/assets/images/posts/insta-300-femmes-peintres.jpg",
  "src/assets/images/posts/insta-yoko-ono.jpg",
  "src/assets/images/posts/insta-english-cooking.jpg",
  "src/assets/images/posts/insta-merci-phaidon.jpg",
  "src/assets/images/posts/insta-happy-new-year.jpg",
  "src/assets/images/posts/insta-dictee-coquine.jpg",
  "src/assets/images/posts/insta-cuisine-portugal-1.jpg",
  "src/assets/images/posts/insta-cuisine-portugal-2.jpg",
];
---

<section id="dernierement" class="bg-[#4cbcb2] px-4 py-12">
  <h2
    class="text-primary font-heading py-8 text-center text-2xl font-extrabold uppercase"
  >
    Dernières réalisations
  </h2>

  <div>
    <div class="rounded-lg p-4">
      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
        {
          images.map((src) => (
            <div class="aspect-[1/1] w-full overflow-hidden rounded-md shadow-sm">
              <img
                src={src}
                alt="Publication Instagram"
                class="h-full w-full object-cover"
                loading="lazy"
              />
            </div>
          ))
        }
      </div>

      <div class="mt-8 text-center">
        <Button
          href="https://www.instagram.com/lunedit_packaging/"
          variant="primary"
          size="large"
          aria-label="Voir plus de réalisations sur Instagram"
        >
          Plus de réalisations
        </Button>
      </div>
    </div>
  </div>
</section>
