---
import type { NavLinkType } from "../types";

interface Props {
  items: NavLinkType[];
}
const { items } = Astro.props;
---

{
  items && items.length > 0 && (
    <nav aria-label="Navigation principale" class="flex-1">
      <ul
        class="justify-center gap-4 lg:flex"
        role="menubar"
        aria-label="Menu de navigation"
      >
        {items.map((item: NavLinkType, index: number) => (
          <li class="max-lg:flex-col" role="none">
            <a
              href={item.url}
              aria-label={`Aller vers ${item.label}`}
              role="menuitem"
              tabindex="0"
              class="hover:text-primary rounded-xs inline-block px-4 py-2 text-xl font-bold uppercase tracking-wide  ease-in-out focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current lg:text-base"
            >
              {item.label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
