---
import data from '../data/navigation.json';

const { navigation } = data;

import type { NavLinkType } from "../types";

const { id } = Astro.props;

---
{ navigation &&(
    <ul
        class="lg:flex lg:gap-16 flex-1 justify-center"
    >
        {navigation.map((item: NavLinkType) => (
            <li class="max-lg:flex-col max-lg:p-4">
                <a
                    href={item.url}
                    aria-label={`Aller voir${item.label}`}
                    class="text-secondary-foreground tracking-wide hover:text-primary lg:text-base text-xl uppercase font-bold duration-200 ease-in-out"
                    >
                        {item.label}
                </a> 
            </li>
        ))
        }
    </ul>
)}