---
import data from '../data/navigation.json';

const { navigation } = data;

import type { NavLinkType } from "../types";

const { id } = Astro.props;

---
{ navigation &&(
    <nav id="nav" class="max-lg:bg-secondary max-lg:absolute max-lg:top-full max-lg:left-0 hidden lg:block max-lg:w-full max-lg:h-auto  max-lg:p-8">
        <div
            class="lg:flex gap-16"
        >
            {navigation.map((item: NavLinkType) => (
                <div class="max-lg:flex-col max-lg:text-center">
                    <a
                        href={item.url}
                        aria-label={`Aller voir${item.label}`}
                        >
                            <span class="text-secondary-foreground hover:text-primary lg:text-lg text-xl uppercase font-bold duration-200 ease-in-out"
                                >{item.label}
                                </span>
                    </a>
                </div>
            ))
            }
        </div>
    </nav>
)}