---
import { Icon } from "astro-icon/components";

const { items, class: className } = Astro.props;

import type { SocialItemType } from "../types";
---

{
  items && items.length > 0 && (
    <ul class="flex gap-1 max-lg:justify-center">
      {items.map(({ label, url, icon }: SocialItemType) => (
        <li>
          <a
            class="hover:text-secondary focus-visible:outline-primary rounded-xs inline-block p-2 text-2xl focus-visible:outline-2 focus-visible:outline-offset-2"
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            title={`Retrouvez-moi sur ${label}`}
            aria-label={`Retrouvez-moi sur ${label}`}
          >
            {icon ? <Icon name={icon} size={24} aria-hidden /> : label}
          </a>
        </li>
      ))}
    </ul>
  )
}
