---
const socialLinks = {
  instagram: "",
  linkedin: "",
};
---

<div class="fixed right-2 top-1/2 z-50 -translate-y-1/2 transform space-y-4">
  <a
    href={socialLinks.instagram}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Instagram"
    class="flex h-8 w-8 items-center justify-center rounded-full"
  >
  </a>
  <a
    href={socialLinks.linkedin}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn"
    class="flex h-8 w-8 items-center justify-center rounded-full"
  >
    in
  </a>
</div>
