---
import { Icon } from "astro-icon/components";

const { items } = Astro.props;

import type { SocialItemType } from "../types";
---

{items && items.length > 0 && (
  <ul class="flex gap-2 max-lg:justify-center">
    {items.map(({ label, url, icon }: SocialItemType) => (
      <li>
        <a
          class="hover:text-secondary text-2xl max-lg:text-4xl"
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          title={`Retrouvez-moi sur ${label}`}
          aria-label={`Retrouvez-moi sur ${label}`}
        >
          {icon ? <Icon name={icon} aria-hidden /> : label}
        </a>
      </li>
    ))}
  </ul>
)}