---

---

<div class="fixed right-2 top-1/2 -translate-y-1/2 transform space-y-4">
  <a href="" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
    <div
      class="flex h-6 w-6 items-center justify-center rounded-full bg-black text-white"
    >
      ig
    </div>
  </a>
  <a href="" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
    <div
      class="flex h-6 w-6 items-center justify-center rounded-full bg-black text-white"
    >
      in
    </div>
  </a>
</div>
