---
const { id } = Astro.props;

---

<button
  id={id}
  class="cursor-pointer lg:hidden"
  aria-label="Ouvrir le menu principal"
>
  <span class="line mb-2 block h-1 w-8 bg-background"></span>
  <span class="line mb-2 block h-1 w-8 bg-background"></span>
  <span class="line mb-2 block h-1 w-8 bg-background"></span>
</button>